@import "./About.less";
@import "./Home.less";
@import "./BackgroundStars.less";

@text-color: #faf9f6;

html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  position: fixed;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.ant-typography-title,
.ant-typography-paragraph,
.ant-typography,
a {
  color: #fff;
  background: -webkit-linear-gradient(white, #b6daff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
