@import "./About.less";
@import "./Home.less";

@text-color: #faf9f6;

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.ant-typography-title,
.ant-typography-paragraph,
.ant-typography,
a {
  color: @text-color !important;
}
