.city-select {
  width: 25%;
  height: 5%;
  opacity: 0;
  transition: opacity 1.5s ease;
  margin-top: -8vh;
}

.city-select.visible {
  opacity: 1;
}

.city-select-spin {
  width: 100%; 
  display: flex;
  justify-content: center
}

.home-page-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  opacity: 0;
  transition: opacity 1.5s ease;

  .ant-space-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.home-page-container.visible {
  opacity: 1;
}

.home-page-informations-container {
  overflow: auto;
  width: 100%;
  align-items: center;
  display: flex;
  min-height: 100%;
}

.home-information-section {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -8vh;
}

.ant-col {
  margin: 0 3%;
}

.go-back-button {
  background: transparent;
  width: fit-content;
  color: #fff;
  position: absolute;
  left: 25px;
  top: 9vh;
  border: none;
  font-size: 18px;
  display: flex !important;
  justify-content: center;
}

.go-back-button svg {
  position: relative;
  top: 3px;
}

.weather-informations-container {
  margin-top: 50px;
  flex-flow: row;
  justify-content: center;
  width: 85%;
}

.city-title-container {
  align-items: center;
  margin-top: 50px;
  width: 90%;
}

.city-title-container img {
  margin-right: 20px;
}

.city-title-container.ant-typography {
  justify-content: center;
  display: flex;
}

.site-title {
  text-align: center;
  cursor: default;
}

.ant-space-item {
  overflow-y: auto;
}

@media (max-width: 999px) {
  .ant-space {
    display: block !important;
  }

  .ant-space-item {
    flex-direction: column !important;
  }

  .home-information-section {
    width: 100%;
    height: fit-content;
    padding: 18% 0 3%;
  }

  .home-page-informations-container {
    flex-direction: column;
  }

  .weather-informations-container {
    flex-flow: row wrap;

    .ant-col {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      flex-direction: column;

      .ant-typography {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .city-title-container {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .city-select {
    width: 50%;
  }
}
